@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #232D49;
    
}

html {
    font-size: 18px;
}


body {
    display: flex;
    flex-direction: column;
}

#display {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

@keyframes headerTransition {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    100% {
      opacity: 1.0;
      transform: translateY(0);
    }
}

header {
    animation: 0.5s ease-out 0s 1 headerTransition;
    position: fixed;
    left: 0;
    top: 0;
    padding: 20px 0px 0px 20px;
}

main {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1
}

#intro {
    height: -o-calc(100vh - 129px); /* opera */
    height: -webkit-calc(100vh - 129px); /* google, safari */
    height: -moz-calc(100vh - 129px); /* firefox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 64px;
    z-index: 1;
}

#intro h1{
    font-size: 2em;
    color: white;
    margin: 0 0 10px 0;
    padding: 0;
}

#intro h3{
    font-size: 0.8em;
    color: #cacaca;
    padding: 0 0 0 3px;
    margin: 0 0 5px 0;
}

#intro h4{
    font-size: 0.7em;
    color: #cacaca;
    padding: 0 0 0 3px;
    margin: 0 0 10px 0;
}

.content {
    margin: 0 20px;
}

@keyframes footerTransition {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1.0;
    }
}

footer {
    animation: 0.5s ease-out 0s 1 footerTransition;
    height: 25px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    font-size: 0.8em;
    font-weight: 700;
    margin: 20px;
    z-index: 1
}

footer a:link, a:visited {
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    position: relative;
}

footer a:hover {
    color: #00B8FF;
    transition: all .3s linear;
}

footer img{
    max-height: 18px;
    width: auto;
    padding-right: 4px;
}

.codeLogo {
    height: 20px;
}

.divider{
    display: block;
    width: 1px;
    background-color: white;
    height: 2em;
    margin: 0px 10px;
}


#myHistory {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background-color: white;
}